$gutter-size: 1rem;

.flex-group {
  padding: $gutter-size;
}

.flexbox {
  display: flex;
}

.flexcell {
  flex: 1 1;
  
  &.flexrow {
    flex-direction: row;
    > .flexcell ~ .flexcell {
      margin-left: $gutter-size;
    }
  }
  
  &.flexcol {
    flex-direction: column;
    > .flexcell ~ .flexcell {
      margin-top: $gutter-size;
    }
  }
}
